@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #03082f;
}

@font-face {
  font-family: 'Colus';
  src:
    local('Colus'),
    url('./assets/fonts/colus/Colus-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Futura PT';
  src:
    local('Futura PT'),
    url('./assets/fonts/futura-pt/FuturaPTBook.otf') format('opentype'),
    local('Futura PT'),
    url('./assets/fonts/futura-pt/FuturaPTBold.otf') format('opentype'),
    local('Futura PT'),
    url('./assets/fonts/futura-pt/FuturaPTMedium.otf') format('opentype'),
    local('Futura PT'),
    url('./assets/fonts/futura-pt/FuturaPTLight.otf') format('opentype');
}
@font-face {
  font-family: 'Font-The Ancient';
  src:
    local('ancient'),
    url('./assets/fonts/Ancient/Ancient_Medium.ttf') format('woff2');
}

@layer utilities {
  .hero-bg-gradient {
    background: linear-gradient(
        180deg,
        rgba(3, 8, 47, 0) 36.62%,
        rgba(3, 8, 47, 0.62) 102.13%
      ),
      linear-gradient(
        270deg,
        rgba(12, 2, 24, 0) 81.51%,
        rgba(12, 2, 24, 0) 81.51%,
        rgba(12, 2, 24, 0.9) 100%
      ),
      linear-gradient(
        90deg,
        rgba(12, 2, 24, 0) 81.04%,
        rgba(12, 2, 24, 0.9) 100%
      ),
      linear-gradient(180deg, rgba(12, 2, 24, 0) 44.4%, #0c0218 89.86%);
  }
  .video-bg-gradient {
    background: linear-gradient(
        180deg,
        rgba(3, 8, 47, 0) 36.62%,
        rgba(3, 8, 47, 0.62) 102.13%
      ),
      linear-gradient(
        270deg,
        rgba(12, 2, 24, 0) 81.51%,
        rgba(12, 2, 24, 0) 81.51%,
        rgba(12, 2, 24, 0.9) 100%
      ),
      linear-gradient(
        90deg,
        rgba(12, 2, 24, 0) 81.04%,
        rgba(12, 2, 24, 0.9) 100%
      ),
      linear-gradient(180deg, rgba(12, 2, 24, 0) 44.4%, #0c0218 89.86%);
  }
  .mrback-bg-gradient {
    background: linear-gradient(
        180deg,
        rgba(3, 8, 47, 0) 36.62%,
        rgba(3, 8, 47, 0.62) 102.13%
      ),
      linear-gradient(
        270deg,
        rgba(12, 2, 24, 0) 81.51%,
        rgba(12, 2, 24, 0) 81.51%,
        rgba(12, 2, 24, 0.9) 100%
      ),
      linear-gradient(
        90deg,
        rgba(12, 2, 24, 0) 81.04%,
        rgba(12, 2, 24, 0.9) 100%
      ),
      linear-gradient(180deg, rgba(12, 2, 24, 0) 44.4%, #0c0218 89.86%);
  }
  .mrback1-bg-gradient {
    background: linear-gradient(
        180deg,
        rgba(3, 8, 47, 0) 36.62%,
        rgba(3, 8, 47, 0.62) 102.13%
      ),
      linear-gradient(
        270deg,
        rgba(12, 2, 24, 0) 81.51%,
        rgba(12, 2, 24, 0) 81.51%,
        rgba(12, 2, 24, 0.9) 100%
      ),
      linear-gradient(
        90deg,
        rgba(12, 2, 24, 0) 81.04%,
        rgba(12, 2, 24, 0.9) 100%
      ),
      linear-gradient(180deg, rgba(12, 2, 24, 0) 44.4%, #0c0218 89.86%);
  }
  .supportbg-bg-gradient {
    background: linear-gradient(
        180deg,
        rgba(3, 8, 47, 0) 36.62%,
        rgba(3, 8, 47, 0.62) 102.13%
      ),
      linear-gradient(
        270deg,
        rgba(12, 2, 24, 0) 81.51%,
        rgba(12, 2, 24, 0) 81.51%,
        rgba(12, 2, 24, 0.9) 100%
      ),
      linear-gradient(
        90deg,
        rgba(12, 2, 24, 0) 81.04%,
        rgba(12, 2, 24, 0.9) 100%
      ),
      linear-gradient(180deg, rgba(12, 2, 24, 0) 44.4%, #0c0218 89.86%);
  }


  .bgpatch-bg-gradient {
    background: linear-gradient(
        180deg,
        rgba(3, 8, 47, 0) 36.62%,
        rgba(3, 8, 47, 0.62) 102.13%
      ),
      linear-gradient(
        270deg,
        rgba(12, 2, 24, 0) 81.51%,
        rgba(12, 2, 24, 0) 81.51%,
        rgba(12, 2, 24, 0.9) 100%
      ),
      linear-gradient(
        90deg,
        rgba(12, 2, 24, 0) 81.04%,
        rgba(12, 2, 24, 0.9) 100%
      ),
      linear-gradient(180deg, rgba(12, 2, 24, 0) 44.4%, #0c0218 89.86%);
  }
  .font-outline {
    -webkit-text-stroke: 2px transparent;
  }

  .game-chips-bg {
    background: linear-gradient(98deg, #3f107a 10.09%, #740fb1 100.25%),
      linear-gradient(
        255deg,
        rgba(87, 24, 109, 0.62) 4.37%,
        rgba(42, 13, 78, 0.62) 99.01%
      ),
      rgba(45, 44, 134, 0.8);
  }
   
  .testimonials-first{
    background: linear-gradient(175deg, rgba(144, 55, 166, 0.00) 42.93%, rgba(144, 55, 166, 0.32) 70.97%, rgba(144, 55, 166, 0.36) 96.35%);
  }
 .testimonials{
  background: linear-gradient(180deg, rgba(23, 19, 82, 0.96) 0%, #0A0917 100%), url(<path-to-image>) lightgray 50% / cover no-repeat;
 }
 .testimonials-second{
  background: rgba(2, 4, 24, 0.11);
 }
 .crousel-first{
  border-radius: 35.233px;
  border: 1.174px solid #3F3F7A;
  background: #11113A;
  box-shadow: 0px 4.698px 46.978px 0px rgba(10, 9, 23, 0.60);
 } 
 .glow {
  box-shadow: 0 0px 20px rgba(152, 255, 249, 1), 0px 0px 20px rgba(72, 102, 169, 0.4), 0px 0px 30px rgba(72, 102, 169, 0.4);
}
 
}

/* XSwap Modal Background Fix */
[class*="xswap-modal"] {
  background-color: #000000 !important;
}

/* If the above doesn't work, try this more specific selector */
div[class*="xswap-modal-container"] {
  background-color: #000000 !important;
}
